* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #ed4c21 ;
  --font-color: #122333;
  --p-color: #7b7b7b;
  --icon-color: #7cb13d;
}
body {
  padding: 20px;
}
/* Start Landing */
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.landing .image {
 display: flex;
 background-color: var(--main-color);
 width: 90%;
 border-radius: 10px;
  overflow: hidden;
}
@media (max-width:767px) {
  .landing .image {
    display: none;
  }
}
.landing .image img {
  width: 100%;
  mix-blend-mode: multiply;
}
.landing .flix-content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  left: 0;
  transform: translate(-50px, -50%);
}
@media (max-width:1000px) {
  .landing .flix-content {
    padding-top: 20px;
    flex-direction: column;
    transform: translate(0, 0);
    align-items: center;
  }
}
.landing .flix-content .card {
  background-color: var(--font-color);
  padding: 30px 20px;
  border-radius: 10px;
  color: white;
  width: 380px;
}
.landing .flix-content .card h1 {
  font-size: 65px;
  font-weight: 300;
  margin-top: 0;
  position: relative;
}
.landing .flix-content .card h1::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 5px;
  width: 15%;
  background-color: var(--main-color);
}
.landing .flix-content .card p::before {
  font-family: "Font Awesome 5 Free";
  content: '\f00c';
  font-weight: 900;
  margin-right: 15px;
  color: var(--icon-color);
}
.landing .flix-content .card button {
  text-decoration: none;
  cursor: pointer;
  border: none;
  margin: 10px 0 0;
  color: white;
  background-color: var(--main-color);
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
}
.landing .flix-content > p {
  padding: 20px;
  margin: 30px;
  line-height: 1.7;
  max-width: 30%;
  min-width: 300px;
  height: fit-content;
  border: 3px solid var(--main-color);
}
/* End Landing */
/* Start cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.cards .card {
  background-color: #ed4c2114;
  border: 1px solid #ddd;
  padding: 1.2rem;
  border-radius: 8px;
  counter-increment: card-num;
}
.cards .card .c-num::before {
  content: "0"counter(card-num);
  color: var(--main-color);
  font-size: 40px;
}
.cards .card h2 {
  font-weight: 300;
  font-size: 40px;
}
.cards .card p {
  color: var(--p-color);
  line-height: 1.8;
  font-size: 18px;
}
.cards .card a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 22px;
  position: relative;
}
.cards .card a::after {
  font-family: "Font Awesome 5 Free";
  content: '\f30b';
  font-weight: 900;
  position: absolute;
  right: -30px;
  bottom: -4px;
}
/* End cards */
/* Start Article */
main article {

}
main article .image {
  
}
main article .image img {

}
/* End Article */